<!doctype html>
<html lang="en">
<%- include('partials/header.ejs') %>
<body>
<h3><%= systems[0].name %> System</h3>
<div class="system-view" id="canvas">
    <div class="solar-cell">
        <div class="solar-orbit">
            <div class="solar-star" style="width: <%= map(stars[0].solarRadius, 0.1, 1) %>em !important; height: <%= map(stars[0].solarRadius, 0.1, 1) %>em !important;"></div>
        </div>
        <div class="solar-meta">
            <%= stars[0].name %>
        </div>
    </div>
    <%
        let sort = planets.slice(0, 9).sort((a, b) => a.radius-b.radius);
    let min = sort[0].radius;
    let max = sort[sort.length-1].radius;
    planets.slice(0, 9).forEach(planet => { %>
        <div class="solar-cell">
            <div class="solar-orbit">
                <div class="solar-planet" style="width: <%= map(planet.radius, min, max) %>em !important; height: <%= map(planet.radius, min, max) %>em !important;"></div>
            </div>
            <div class="solar-meta">
                <a href="/planets/<%= planet.id %>"><%= planet.name %></a>
            </div>
        </div>
    <% }) %>

</div>
</body>
<%

    function map(value, min, max) {
        let low1 = min;
        let high1 = max;
        let low2 = 0.5;
        let high2 = 8;
        return low2 + (high2 - low2) * (value - low1) / (high1 - low1);
    }
%>
<script src="/js/system.js"></script>
</html>
