<!doctype html>
<html lang="en">
<%- include('partials/header.ejs') %>
<%- include('partials/title.ejs',{title: `Moon ${moon.name}`}) %>
<body>
<div class="flex-container">
    <div class="flex-container-element" style="height: 100%; flex: 0.33 0.33; margin-top: 1em;">
        <div class="card" style="margin-bottom: 0.75em;">
            <a href="#" onclick="history.back()"><- back</a>
        </div>
        <div class="card">
            <div class="card-header">
                <a href="/planets/<%= moon.id %>">
                    <h3><%= moon.name %></h3>
                </a>
            </div>
            <div class="card-body">
                <div class="flex-list">
                    <% Object.keys(moon).map(ln => { %>
                        <% if(moon[ln]){ %>
                            <div class="flex-list-element">
                                <div><strong><%= ln %></strong></div>
                                <div><%= moon[ln] %></div>
                            </div>
                        <% } %>
                    <% }) %>

                </div>
            </div>
        </div>
    </div>
    <div class="flex-container-element">
        <div class="flex-container flex-center">
            <div class="system-view" id="canvas">
                <div class="solar-cell">
                    <div class="solar-orbit">
                        <div class="solar-planet"
                             style="width: 8em !important; height: 8em !important;"></div>
                    </div>
                    <div class="solar-meta">
                        <%= moon.name %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
<%
function map(value, min, max) {
    let low1 = min;
    let high1 = max;
    let low2 = 0.5;
    let high2 = 6;
    return low2 + (high2 - low2) * (value - low1) / (high1 - low1);
}
%>
</html>
