<!doctype html>
<html lang="en">
<%- include('partials/header.ejs') %>
<%- include('partials/title.ejs') %>
<body>
<div class="flex-list">
    <div class="flex-list-element mr-1">
        <h4>Explore Systems</h4>
        <a href="/systems/pg/2">View More</a>
    </div>
</div>
<div class="flex-container">
    <% systems.map(system => { %>
        <div class="flex-container-element card">
            <div class="card-header">
                <a href="/systems/<%= system.name %>">
                    <h3><%= system.name %></h3>
                </a>
                <div><%= system.distance %> Lightyears</div>
            </div>
            <div class="card-body">
                <div class="flex-list">
                    <div class="flex-list-element">
                        <div><strong>Star</strong></div>
                        <div><%= system.starId %></div>
                    </div>
                    <div class="flex-list-element">
                        <div><strong>Gal Pos (x, y, z)</strong></div>
                        <div><%= Math.round(system.x * 100) / 100 %>, <%= Math.round(system.y * 100) / 100 %>, <%= Math.round(system.z * 100) / 100 %></div>
                    </div>

                </div>
            </div>

        </div>
    <% }) %>
</div>
<div class="flex-list">
    <div class="flex-list-element mr-1">
        <h4>Visualizations</h4>
        <a href="/charts">View Full</a>
    </div>
</div>
<div class="flex-container">
    <iframe src="/charts" class="iframe"></iframe>
</div>
</body>
<%
function map(value, min, max) {
    let low1 = min;
    let high1 = max;
    let low2 = 0.5;
    let high2 = 8;
    return low2 + (high2 - low2) * (value - low1) / (high1 - low1);
}
%>
<script src="/js/system.js"></script>
</html>
