<!doctype html>
<html lang="en">
<%- include('partials/header.ejs') %>
<%- include('partials/title.ejs',{title: `${systems[0].name} System`}) %>
<body>
<div class="flex-container">
    <% systems.map(system => { %>
        <div class="flex-container-element" style="height: 100%; flex: 0.33 0.33; margin-top: 1em;">
            <div class="card" style="margin-bottom: 0.75em;">
                <a href="#" onclick="history.back()"><- back</a>
            </div>
            <div class="card">
                <div class="card-header">
                    <a href="/systems/<%= system.name %>">
                        <h3><%= system.name %></h3>
                    </a>
                    <div><%= system.distance %> Lightyears</div>
                </div>
                <div class="card-body">
                    <div class="flex-list">
                        <% Object.keys(system).map(ln => { %>
                            <% if(system[ln]){ %>
                                <div class="flex-list-element">
                                    <div><strong><%= ln %></strong></div>
                                    <div><%= system[ln] %></div>
                                </div>
                            <% } %>
                        <% }) %>

                    </div>
                </div>
            </div>
        </div>
    <% }) %>

    <div class="flex-container-element">
        <div class="flex-container flex-center">
            <div class="system-view" id="canvas">
                <div class="solar-cell">
                    <div class="solar-orbit">
                        <div class="solar-star"
                             style="width: <%= map(systems[0].solarRadius, 0.1, 1.3) %>em !important; height: <%= map(systems[0].solarRadius, 0.1, 1.3) %>em !important;"></div>
                    </div>
                    <div class="solar-meta">
                        <%= systems[0].name %>
                    </div>
                </div>
                <%
                let safe = (a) => (typeof a !== 'undefined') ? a.radius : 0;
                let sort = planets.slice(0, 9).sort((a, b) => safe(a) - safe(b));
                let min = safe(sort[0]);
                let max = safe(sort[sort.length - 1]);
                planets.forEach(planet => { %>
                    <div class="solar-cell">
                        <div class="solar-orbit">
                            <div class="solar-planet"
                                 style="width: <%= map(planet.radius, min, max) %>em !important; height: <%= map(planet.radius, min, max) %>em !important;"></div>
                        </div>
                        <div class="solar-meta">
                            <a href="/planets/<%= planet.id %>"><%= planet.name %></a>
                        </div>
                    </div>
                <% }) %>

            </div>
        </div>
    </div>

</div>

</body>
<%
function map(value, min, max) {
    let low1 = min;
    let high1 = max;
    let low2 = 0.5;
    let high2 = 8;
    return low2 + (high2 - low2) * (value - low1) / (high1 - low1);
}
%>
<script src="/js/system.js"></script>
</html>
